.fixed-menu {
    position: fixed;
    bottom: 20%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    background-color: white;
    border: 2px solid gray;
    border-left: none;
    z-index: 2;
    @media screen and (max-width: 768px) {
      position: relative;
      flex-direction: row;
      border: 2px solid gray;
      border-bottom: none;
      gap: 20px;
    }

    .mailLink {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  
    a {
      display: block;
      margin: 7px;
      transition: transform 0.3s, color 0.3s;
      text-decoration: none;
  
      svg {
        width: 30px;
        height: 30px;
        color: rgb(56, 56, 56);
      }
  
      &:hover {
        transform: translateY(-5px);
        filter: brightness(2);
      }
    }
  }
  