@import '../../../common/common.scss';

.sk-wrapper {
    height: 70vh;
    width: 103%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skb-wrapper {
    border : 2px solid gray;
    border-radius: 5px;
    transform: rotate(-1deg);
    background-color: black;
    padding: 2rem;
    display: flex;
    height: 65%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.4);
    font-family: 'Nexa-Heavy';

    h2 {
        margin: 0;
        position: relative;
        top: 5%;
        transform: rotate(4deg);
        transform-origin: top right;
        left: 25%;
    }

    p {
        background-color: bisque;
        padding: 2rem;
    }

    .frontend {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
        border-radius: 20px;
        transform: rotate(-2deg);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        background: radial-gradient(circle at 7.5% 24%, rgba(237, 161, 193, 0.8) 0%, rgba(250, 178, 172, 0.8) 25.5%, rgba(190, 228, 210, 0.8) 62.3%, rgba(215, 248, 247, 0.8) 93.8%);
        z-index: 1;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    }

    .backend {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
        border-radius: 20px;
        transform: rotate(2deg);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        background: linear-gradient(111.1deg, rgba(0, 40, 70, 0.8) -4.8%, rgba(255, 115, 115, 0.8) 82.7%, rgba(255, 175, 123, 0.8) 97.2%);
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    }

    .tools {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
        border-radius: 20px;
        transform: rotate(-1deg);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    }

    img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
    }
}
