@import '../../../common/common.scss';

.chapter-title {
  display: flex;
  align-items: center;
  font-family: 'Nexa-Heavy';
}

.number {
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}

.name {
  margin-right: 10px;
}
