// common.scss

// Colors
$main-purple: #9370DB;
$soft-gray: #D3D3D3;
$cool-blue: #8ef6e4;
$blueish: #9896f1;
$purple: #d59bf6;
$lavender: #edb1f1;

// Fonts
@font-face {
  font-family: 'Nexa-Heavy';
  src: local('Nexa-Heavy'), url('../fonts/Nexa-Heavy.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Nexa-Heavy', sans-serif;
}